doctype html
html
    head
        title Foodie.nom
        link(rel="stylesheet", href="style.css")
    body
        div.navbar
            a(href="/") Foodie
            a(href="/login") Login
            a(href="/register") Register
            a(href="/logout") Logout
    div.main