doctype html
html
    head
        title Foodie.nom
        style
            include ../../public/stylesheets/style.css
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/css/foundation-float.min.css")
    body
        div.navbar
            a(href="/") Foodie

            unless currentUser
                a(href="/login") Login
                a(href="/register") Register
            else
                a(href="#") Signed in as #{currentUser.name.slice(0, 1).toUpperCase() + currentUser.name.slice(1).toLowerCase()}
                a(href="/u/" + currentUser.username) My profile
                a(href="/logout") Logout
                
            
        div.main