doctype html
html
    head
        title Foodie.nom
        link(rel="stylesheet", href="stylesheets/style.css")
    body
        div.navbar
            a(href="/") Foodie

            unless currentUser
                a(href="/login") Login
                a(href="/register") Register
            else
                a(href="#") Signed in as #{currentUser.name.slice(0, 1).toUpperCase() + currentUser.name.slice(1).toLowerCase()}
                a(href="/logout") Logout
                
            
        div.main