<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Hola mundo</h1>
    <p>Carlos es un muy buen amigo</p>

    <ul>
        <li>hola 1</li>
        <li>hola 2</li>
        <li>hola 3</li>
        <li>hola 4</li>
        <li>hola 5</li>
    </ul>
</body>
</html>