html {
    position: relative;
    min-height: 100%;
    padding-bottom: 3rem;
}

.main {
    min-height: 100%;
    padding-bottom: 3rem;
}

footer {
    position: absolute;
    width: 100%;
}

#login-form, #register-form {
    margin: 0 auto;
    margin-bottom: 4rem;
    width: 35%;
}

#register-form {
    width: 40;
}

